.container {
    width: 500px;
    border: 2px solid darkslategray;
    padding: 2em;
    margin: 5em auto;
}



/* CSS stilius įterpti čia */
li::before {
    content: "\01F7CA"; 
    color: grey;
}

li {
    list-style: none;
}



li.active:before {
    color: goldenrod;
}