body {
  background: white;
  justify-content: center;
  align-items: center;
}

.header {
  background: rgb(58, 123, 213);
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 320px;
  background: white;
  border-radius: 25px;
  border: 8px solid rgb(49, 49, 210);
}

.avatar {
  width: 100px;
  border-radius: 50%;
  border: 5px solid white;
}

.content {
  text-align: center;
  padding: 20px;
}

h1 {
  color: rgb(79, 70, 229);
}

p {
  font-size: 14px;
  color: #444;
}

.facebook i {
  font-size: 20px;
  margin: 10px;
  color: rgb(79, 70, 229);
}

.skills {
  list-style: none;
  padding: 0;
}

.skills li {
  margin: 5px 0;
}

.buttons {
  margin-top: 15px;
}

.subscribe {
  background: orange;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}

.contact {
  background: rgb(99, 102, 241);
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}

section ul li {
  display: inline-block;
  padding-right: 10px;
}

.caprasimo-regular {
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
}
